{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        environ/environ {:mvn/version "1.2.0"}
        io.replikativ/datahike {:local/root "../datahike"}
        timokramer/konserve-cassandra {:local/root "../konserve-cassandra"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}
                               metosin/malli {:mvn/version "0.4.0"}}}
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "datahike-backend.jar" :sync-pom true}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote :artifact "datahike-backend.jar"}}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}}}
