{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.replikativ/datahike {:mvn/version "0.6.1540"}
        org.clojars.timokramer/konserve-cassandra {:mvn/version "0.1.9"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
                               org.slf4j/slf4j-simple {:mvn/version "2.0.7"}
                               metosin/malli {:mvn/version "0.11.0"}}}
           :build  {:deps {io.github.clojure/tools.build          {:mvn/version "0.9.4"}
                           slipset/deps-deploy                    {:mvn/version "0.2.0"}
                           io.github.borkdude/gh-release-artifact {:git/sha "b946558225a7839f6a0f644834e838e190dc2262"}
                           babashka/babashka.curl                 {:mvn/version "0.1.2"}
                           babashka/fs                            {:mvn/version "0.3.17"}
                           cheshire/cheshire                      {:mvn/version "5.11.0"}}
                    :ns-default build}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}}}
